/* Custom CSS for ShoppingList*/
/* (Most uses bootstrap) */

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th.sortable:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

input[type=checkbox]{
    width: 25px;
    margin: 20px 10px;
    cursor:pointer;
}
