/*
	Style Sheet for Shopping List App 
	Author: Kari Hoff
	Class: CS 330
*/

body {
	background-color: rgb(200,200,200);
	/*max-width: 50%;*/
	margin: 0px;
	padding: 0px;
	/*margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 25%;
	margin-left: 25%;*/

	font-family: Helvetica, sans-serif;
}

button {
	padding: 5px;
}

fieldset {
	max-width: 30%;
}

form:focus {
	/* To be able to use tab to navigate -- how to set up? */
}

h1 {
	color: white;
	font-style: oblique;
	letter-spacing: 0.2em;
	text-shadow: 2px 2px 5px black;
	/* Extended & Oblique? */
}

input {
	padding: 3px 6px 3px 6px;
}

/*input.submit:active {
	color: white;
	background-color: black;
}*/

th {
	text-align: left;
	font-size: 24px;
}

/*h2 {
	color: white;
}

p {
	color: white;
}*/

.center {
	text-align: center;
}

/* NOT YET USED */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/* NOT YET USED */
.floatR {
	float: right;
}

.low {
	background-color: green;
}

.medium {
	background-color: yellow;
}

.high {
	background-color: red;
}


#heading {
	/*position: fixed;*/
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 2%;
	width: 100%;
	background-color: rgb(0, 95, 204);
	z-index: 10;
}

#dataEntry {
	/* Not sure what to do here */
	/*position: initial;*/
	background-color: rgb(204, 229, 255);
	padding: 2%;
	/*margin-top: 5%;*/
	/*z-index: 5;*/
}

#shoppingList {
	/*padding-top: 2%;*/
}

#itemList {
	width: 100%;
	background-color: rgb(230, 242, 255);
}